/* 贪吃蛇样式 - 蛇身、蛇头、食物 */

.game {
	& .board.map {
		--board-cols: 20;
		touch-action: none;
		--board-rows: 20;
	}

	& .snake {
		background: #34495e;
		border-radius: 2px;

		&.head {
			background: var(--lime-2);
			border-radius: 25%;

			/* 眼睛 */
			&::before, &::after {
				content: "";
				position: absolute;
				width: 30%;
				height: 30%;
				background: radial-gradient(circle at 50% 50%, #222 35%, #fff 35%);
				border-radius: 50%;
				top: 5%;
			}

			&::before { left: -5%; }
			&::after { right: -5%; }
		}
	}

	& .food {
		background: #e74c3c;
		border-radius: 2px;
	}
	& .touch.pad {
		grid-column: 2;
		grid-row: 3;
		justify-self: center;
		align-self: start;
	}
}