/* 贪吃蛇样式 - 蛇身、蛇头、食物 */

.game {
	& .board {
		--board-cols: 20;
		--board-rows: 20;
	}

	& .snake {
		background: #34495e;
		border-radius: 2px;

		&.head {
			background: #2c3e50;
			border-radius: 25%;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 3px;
				height: 3px;
				background: #fff;
				border-radius: 50%;
				top: 25%;
			}

			&::before {
				left: 15%;
			}

			&::after {
				right: 15%;
			}
		}
	}

	& .food {
		background: #e74c3c;
		border-radius: 2px;
	}
}