/* 贪吃蛇样式 - 蛇身、蛇头、食物 */

.game {
	& .board {
		--board-cols: 20;
		--board-rows: 20;
	}

	& .snake {
		background: #34495e;
		border-radius: 2px;

		&.head {
			background: #2c3e50;
			border-radius: 25%;

			/* 眼睛 */
			&::before, &::after {
				content: "";
				position: absolute;
				width: 30%;
				height: 30%;
				background: #fff;
				border-radius: 50%;
				top: 5%;
			}

			&::before { left: -5%; }
			&::after { right: -5%; }
		}
	}

	& .food {
		background: #e74c3c;
		border-radius: 2px;
	}
}