@charset "utf-8";

template, .template, .hidden {display: none;}

.note strong {
	color: red;
}

.correct {
	color: #4caf50;
}

.incorrect {
	color: #f05c6a;
}

.half-correct {
	color: #ff9800;
}

.resizable {
	overflow: auto; /* 必须设置且不能是visible */
	resize: both;
	display: block; /* 确保是块级元素 */
}

.resizable.x {
	resize: horizontal;
}

.resizable.y {
	resize: vertical;
}

.truncate-long-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.truncate-long-text:hover {
	overflow: visible;
	text-overflow: inherit;
}

.fixed-in-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer.sticky {
	position: sticky;
	bottom: 0;
}

nav.sticky {
	position: sticky;
	top: 0;
}

.text-gradient { /* 渐变色字 */
	background: linear-gradient(90deg, #3498db, #2ecc71);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.highlight-input {
	border: 2px solid #dce4ec;
	border-radius: 8px;
	outline: none;
	transition: all 0.3s ease;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
}

.highlight-input:hover {
	border-color: #aec6d3;
}

.highlight-input:focus {
	border-color: #3498db;
	box-shadow: 0 0 0 4px rgba(52, 152, 219, 0.25);
}