.el-button.声母 {
	--el-button-bg-color: #a5d6a7;
	--el-button-text-color: #37474f;
	--el-button-hover-bg-color: #81c784;
	--el-button-hover-text-color: #37474f;
	--el-button-border-color: #a5d6a7;
	--el-button-hover-border-color: #81c784;
}

.el-button.韵母 {
	--el-button-bg-color: #90caf9;
	--el-button-text-color: #37474f;
	--el-button-hover-bg-color: #64b5f6;
	--el-button-hover-text-color: #37474f;
	--el-button-border-color: #90caf9;
	--el-button-hover-border-color: #64b5f6;
}

.el-button.声调 {
	--el-button-bg-color: #ffcc80;
	--el-button-text-color: #37474f;
	--el-button-hover-bg-color: #ffb74d;
	--el-button-hover-text-color: #37474f;
	--el-button-border-color: #ffcc80;
	--el-button-hover-border-color: #ffb74d;
}

.el-button.非正规.声母 {
	--el-button-bg-color: #c8e6c9;
	--el-button-hover-bg-color: #a5d6a7;
	--el-button-border-color: #c8e6c9;
	--el-button-hover-border-color: #a5d6a7;
}

.el-button.非正规.韵母 {
	--el-button-bg-color: #bbdefb;
	--el-button-hover-bg-color: #90caf9;
	--el-button-border-color: #bbdefb;
	--el-button-hover-border-color: #90caf9;
}

.标声调的字母 {
	color: #E91E63;
}

.声调 .sign {
	font-size: 1.5rem;
	color: #E91E63;
}
