/* 不要给我瞎特么限制页面宽度！！！显示器越做越大，页面反而抠抠搜搜，有毛病啊？？？ */
body {
	padding: 20px;
	font-family: 'Microsoft YaHei', sans-serif;
}

main > header {
	text-align: center;
}

main > header > h1 {
	font-size: 36px;
	color: #333;
	margin: 0;
}

main > section > header > h2 {
	font-size: 24px;
	color: #444;
	margin: 0;
}

.标声调的字母 {
	color: #E91E63;
}

.声调 .sign {
	color: #E91E63;
	font-size: 2em;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}